###################################################################################################
#### This configuration file installs git via yum for use with 'bundle install'               ####
####                                                                                           ####
###################################################################################################

packages:
  yum:
    git: []
