%section.container
  .row
    .col-md-12.text-center
      %h2
        = @conference.advantages.count.humanize.capitalize
        things that set this event apart
      %p.lead
  .row.row-centered
    %div.slider.advantages
      - @conference.advantages.each do |advantage|
        .container
          .card.flex-maxheight
            .card-block
              - unless advantage.picture?
                %i.fa.fa-map-marker.fa-5x.img-responsive.img-center
              - else
                = image_tag advantage.picture.thumb.url, class: 'img-responsive img-center'
            .card-block
              %h4
                -if advantage.description.present?
                  = markdown(advantage.description)
:javascript
  $('.advantages').slick({
    slidesToShow: 3,
    slidesToScroll: 1,
    arrows: false,
    autoplay: true,
    autoplaySpeed: 2000,
    dots: true,
    responsive: [
    {
      breakpoint: 1400,
      settings: {
        slidesToShow: 4,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 1200,
      settings: {
        slidesToShow: 3,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
  ]
  });
