.btn-group
  - if can? :new, conference.program.events.new
    - unless conference.ended?
      = link_to "Submit Proposal", main_app.new_conference_program_proposal_path(conference.short_title), :class =>"btn btn-primary btn-round"

  - if !@conference || @conference != conference
    - if conference.splashpage && conference.splashpage.public
      = link_to "Learn More", main_app.conference_path(conference.short_title), :class =>"btn btn-info btn-round"

  - if conference.registration_open? && conference.tickets.any?
    = link_to "Register", main_app.conference_buytickets_path(conference.short_title), class: "btn btn-primary btn-round", disabled: conference.registration_limit_exceeded?
    - if conference.registration_limit_exceeded?
      Sorry, no places left
