.container
  .row
    .col-md-12.text-center
      %h2
        Some of our speakers
  .row.row-centered
    .col-md-8.col-md-offset-2
      %div.slider.speakers
        - @conference.highlighted_speakers.each do |speaker|
          .container
            .card.flex-maxheight
              = image_tag speaker.avatar_url(version: 'xlarge'), class: 'img-responsive img-center'
              .card-block
                %h4
                  %strong
                    = speaker.name
                %p
                  = speaker.affiliation
                %i.text-center
                  = speaker.title


:javascript
  $('.speakers').slick({
    slidesToShow: 5,
    slidesToScroll: 2,
    arrows: false,
    autoplay: true,
    autoplaySpeed: 2000,
    dots: true,
    responsive: [
    {
      breakpoint: 1400,
      settings: {
        slidesToShow: 4,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 1200,
      settings: {
        slidesToShow: 3,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
  ]
  });
