.news-item-wrapper
  = link_to refinery.blog_post_path(item), class: 'link-effect' do
    %h3
      = item.title
  %p
    = item.published_at.strftime("%B %d, %Y")
  %p
    = truncate(strip_tags(item.body), length: 350)
