.rss-wrapper
  %h4.link-effect
    = link_to item.title, item.url, class: 'rss_title', target: '_blank'

  %p.rss-author
    Posted by
    = item.author
    - if item.published_at
      on
      = item.published_at.strftime("%B %d, %Y")