%div{class: "main-card border meetup"}
  .row.h-100
    .col-md-4.col-md-push-8.h-100
      .poster-button-wrapper.h-100
        %img.img-responsive.poster-small{:alt => "Meetup poster", :src => "#{item.picture_url}"}
        .card-footer.hidden-sm.hidden-sm

    .col-md-8.col-md-pull-4
      %h4.bold.mt-0
        = link_to item.title, item.url, target: '_blank'

      %p
        = date_string(item.start, item.end)

      %span
        %i.fa.fa-meetup.fa-4x
      .card-footer.visible-sm.visible-sm
