#splash {
  #about-about {
    border-top-color: transparent;
    background-color: #142538;
    color: white;
    .description {
      margin-top: 50px;
    }

  }
}

section.description-blue {
    background-color: #142538;
    color: white;
    padding-top: 90px;
    padding-bottom: 80px;
    .description {
      margin-top: 50px;
    }
}
