tr.schedule-layout {
    height: 20px;
}

td.date-layout{
  height: 20px;
  background: #2D5E7B;
  color: #FFFFFF;
}

th.room{
  background: #2D5E7B;
  color: #FFFFFF;
}

td.current-block{
  background: #022438;
}


