= content_for :splash_nav do
  %li
    = link_to conference_path(@conference.short_title) do
      %span.fa.fa-chevron-left
      Back To Conference

= content_for :attempt_base do
  %section#about-about
    .container
      .row.description
        .col-md-8.col-md-offset-2
          %h4
            Thank you for taking our poll


#splash
  = yield :attempt_base
