.row
  .col-md-12
    .page-header
      %h1
        Users
        - if @users
          = "(#{@users.length})"

        - if can? :create, User && ENV['OSEM_ICHAIN_ENABLED'] != 'true'
          .pull-right
            = link_to 'Add User', new_admin_user_path, :class => 'button btn btn-default btn-info'
.row
  .col-md-12.table-responsive
    %table.table.table-striped.table-bordered.table-hover.datatable-users{ data: {source: admin_users_url(format: :json)} }
      %thead
        %th ID
        %th Confirmed?
        %th Email
        %th Name
        %th Roles
        %th View
        %th Edit
      %tbody
